@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}

.logo{
    width: 4rem;
    height: 4rem;
    border-radius: 25px;
}

.hero-img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: 50% 25%;
}

.site-header {
    grid-area: header;
}

.card {
    background-color: #F2F5EA;
}

.navbar {
    grid-area: nav;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #D6DBD2;
}

.trending {
    grid-area: trending; 
    background-color: #2C363F; 
    color: #F2F5EA;  
    padding: 2vw;
}

.main {
    grid-area: main; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #D6DBD2;
}

.box {
    display: flex;
    flex: 1 1 calc(40%);    
    box-sizing: border-box;
    min-width: 250px;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.card-text {
    color: black;
}

.card-img-top {
    height: 35vh;
    object-fit: cover;
}

.categories {
    grid-area: categories;   
    background-color: #BBC7A4;  
}

.politics, .sports, .tech {
    padding: 2vh;
}

.site-footer {
    grid-area: footer;      
    background-color: #D6DBD2;
}

@media (min-width: 768px) {
    .news-layout {
        display: grid;
        min-height: 100vh;
        grid-template-areas:
        "header header header"
        "nav nav nav"
        "trending main categories"
        "footer footer footer"
        ;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 0.2fr 10vh 2fr 0.2fr;
    }
}


@media (max-width: 767px) {
    .news-layout {
        display: grid;
        min-height: 100vh;
        grid-template-areas:
        "header"
        "nav"
        "main"
        "trending"
        "categories"
        "footer"
        ;
        grid-template-rows: 0.1fr 0.05fr 1fr 1fr 1fr 0.1fr;
    }
}

